body{
  font-family: "Times New Roman";
}
p{
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.jogo{
  position: relative;
  display: flex;
  width: 900px;
  height: 300px;
}
.lado1{
  background-color: #ffde78;
  float: left;
  width: 100px;
  height: 300px;
  background-image: url(Imagens/areia.png);
}
.rio{
  background-color: #1ca3ec;
  float: left;
  width: 150px;
  height: 300px;
  background-image: url(Imagens/agua.gif);
}
.lado2{
  background-color: #ffde78;
  float: left;
  width: 100px;
  height: 300px;
  background-image: url(Imagens/areia.png);
}
.barqueiro{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 100px;
  top: 150px;
  background:transparent;
}
.raposa{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 75px;
  top: 120px;
  background:transparent;
}
.galinha{
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 75px;
  top: 150px;
  background:transparent;
}
.milho{
  background-color: yellow;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 75px;
  top: 180px;
  background:transparent;
}
.estatisticas>p{
  text-align: left;
}
#iniciar{
  position:absolute;
  top:255px;
  left:133px;
}
#textoEstado{
  font-size: 30px;
  position: absolute;
  top:185px;
  left:95px;
}
#textoErro{
  color: #66ffff;
  font-size: 20px;
  position: absolute;
  top:200px;
  left:45px;
}
